- content_for :title do
  =t ".title"

.row-fluid
  .span3
    .sidebar-nav.well
      = render 'users/menu'

  .span9
    %h1=t ".title"

    = form_for @user, url: {action: "update_password"} do |f|

      .control-group{class: @user.errors[:current_password].length > 0 ? "error" : nil}
        = f.label :current_password, t(".current_password"), class: "control-label"
        .controls
          = f.password_field :current_password, autofocus: true
          - if (e = @user.errors[:current_password]).length > 0
            %span.help-inline= e.join ", "

      .control-group{class: @user.errors[:password].length > 0 ? "error" : nil}
        = f.label :password, t(".password"), class: "control-label"
        .controls
          = f.password_field :password, autocomplete: "off"
          - if (e = @user.errors[:password]).length > 0
            %span.help-inline= e.join ", "

      .control-group{class: @user.errors[:password_confirmation].length > 0 ? "error" : nil}
        = f.label :password_confirmation, class: "control-label"
        .controls
          = f.password_field :password_confirmation
          - if (e = @user.errors[:password_confirmation]).length > 0
            %span.help-inline= e.join ", "

      .control-group
        .controls
          = f.submit t(".submit"), class: "btn"
