= semantic_form_for(@user, :url => user_registration_path) do |f|

  .page-header
    %h2 Register

  .form-horizontal
    = f.inputs do
      = f.input :name, :autofocus => true
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :accepted_terms

  = f.actions do
    =# f.submit "Register", :class => "btn btn-primary"
    = f.action :submit, :button_html => {:class => "btn btn-primary"}

