= semantic_form_for(@user, :url => user_registration_path) do |f|

  .page-header
    %h2=t ".title"

  .form-horizontal
    = f.inputs do
      = f.input :name, :autofocus => true
      = f.input :email
      = f.input :password
      = f.input :password_confirmation

  = f.actions do
    = f.action :cancel, :label => t(".cancel"), :as => :link
    = f.action :submit, :label => t(".register"), :button_html => {:class => "btn btn-primary"}

