%footer.nav-footer
  .container.container-fluid
    .row-fluid.logos
      .span6
        %p.muted Patrocínio
        - @sponsor_logos.each do |logo|
          - @logo = logo
          - if logo.link.nil?
            = render "shared/logo"
          - else
            %a{href: logo.link, target: "_blank"}
              = render "shared/logo"
      .span6
        %p.muted Apoio
        - @support_logos.each do |logo|
          - @logo = logo
          - if logo.link.nil?
            = render "shared/logo"
          - else
            %a{href: logo.link, target: "_blank"}
              = render "shared/logo"
    -#%p.pull-right
    -#  %a{:href => "#"}=t :back_to_top
    %p.pull-left
      %span.muted!=t :developed_by
    %p.pull-right
      %span.muted=t :rights
      &copy;
      = DateTime.now.year
      =t :holder
