.navbar-wrapper
  .container
    .push-down
    = render "shared/old_browser"
    .navbar.navbar-integracao.navbar-fixed-top
      .navbar-inner
        .container
          -# Brand name
          %a.brand{href: url_for(root_path)}
            %img{src: asset_path("logo.svg"), alt: "logo", height: "80px", width: "80px"}
            -#%object{data: asset_path("logo.svg"), title: "integraçãoime", height: "80px", width: "80px"}
            -#%img{src:   asset_path("logo.png"), alt:   "integraçãoime", style: "height:80px;width:80px"}
            %span
              integração<u>ime</u>
          .multi-row.pull-right
            .row.user-row
              -# Login/Logout menus
              - if user_signed_in?
                %ul.nav.pull-right
                  %li.dropdown
                    %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                      = current_user.name
                      %i.icon-angle-down
                    %ul.dropdown-menu
                      - if current_user.student?
                        %li
                          %a.navbar-link{href: url_for(student_resume_path)}
                            =t ".resume"
                        %li
                          %a.navbar-link{href: url_for(student_hints_path)}
                            =t ".tips"
                        %li.divider
                      - if current_user.company_member?
                        - if current_company.page?
                          %li
                            %a.navbar-link{href: url_for(company_page_path)}
                              =t ".company_page"
                        - if current_company.subscriber?
                          %li
                            %a.navbar-link{href: url_for(company_resumes_path)}
                              =t ".resumes"
                        %li
                          %a.navbar-link{href: url_for(company_calendars_path)}
                            =t ".calendars"
                        %li
                          %a.navbar-link{href: url_for(company_highlight_path)}
                            =t ".highlight"
                        - @company_menu.active_children.each do |m|
                          %li
                            %a.navbar-link{href: url_for(page_path(m.slug))}= m.title
                        %li.divider
                      - if current_user.admin?
                        %li
                          %a.navbar-link{href: url_for(admin_root_path)}
                            =t ".admin_dashboard"
                      %li
                        %a.navbar-link{href: url_for(feedback_path)}
                          =t ".feedback"
                      %li
                        %a.navbar-link{href: url_for(change_password_path)}
                          =t ".change_password"
                      %li
                        %a.navbar-link{href: url_for(destroy_user_session_path), data: {method: "delete"}}
                          =t ".logout"
                          %i.icon-signout
              - else
                -#%ul.nav.pull-right
                  %li
                    %a.navbar-link{href: "#loginModal", role: "button", data: {toggle: "modal"}}
                      %i.icon-signin
                      =t ".login"
                -#%form.navbar-form.pull-right
                  %input.span2{type: "text", placeholder: "Email"}
                  %input.span2{type: "password", placeholder: "Password"}
                  %button.btn{type: "submit"} Sign in
                = form_for :user, url: user_session_path, html: {class: "navbar-form pull-right"} do |f|
                  = f.email_field :email, autofocus: true, placeholder: t(".email"), class: "input-medium"
                  = f.password_field :password, placeholder: t(".password"), class: "input-medium"
                  .btn-group
                    = f.submit t(".sign_in"), class: "btn"
                    %button.btn.dropdown-toggle{data: {toggle: "dropdown"}}<
                      %i.icon-caret-down
                    %ul.dropdown-menu
                      - if devise_user.registerable?
                        %li= link_to t(".sign_up"), terms_path
                      - if devise_user.recoverable?
                        %li= link_to t(".forgot"), new_user_password_path
                      - if devise_user.confirmable?
                        %li= link_to t(".confirm"), new_user_confirmation_path
                      - if devise_user.lockable? && User.unlock_strategy_enabled?(:email)
                        %li= link_to t(".unlock"), new_user_unlock_path
                      - if devise_user.omniauthable?
                        - User.omniauth_providers.each do |provider|
                          %li= link_to t(".sign_in_with", :provider => provider.to_s.titleize), omniauth_authorize_path(:user, provider)
            .row.menu-row
              -# Button for triggering responsive navbar
              %a.btn.btn-navbar.pull-right{data: {target: ".main-tabs", toggle: "collapse"}}
                %i.icon-reorder
              -# Main root menu
              .nav-collapse.collapse.main-tabs
                .left-side-img
                %ul.nav
                  %li
                    %a{href: url_for(root_path)}=t ".home"
                  - @root_menu.active_children.each do |m|
                    - if m.active_children.empty?
                      %li
                        %a{href: url_for_page(m)}= m.title
                    - else
                      %li.dropdown
                        %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                          = m.title
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          - m.active_children.each do |m|
                            - if m.active_children.empty?
                              %li
                                %a{href: url_for_page(m)}= m.title
                            - else
                              %li.dropdown-submenu
                                %a{href: m.page.nil? ? "#" : url_for_page(m)}= m.title
                                %ul.dropdown-menu
                                  - m.active_children.each do |m|
                                    %li
                                      %a{href: url_for_page(m)}= m.title
                .right-side-img

    -# Flash alerts bellow the menu but still inside the container
    - if flash[:error]
      .alert.fade.in.alert-error
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:error]
    - if flash[:alert]
      .alert.fade.in.alert-error
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:alert]
    - if flash[:success]
      .alert.fade.in.alert-success
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:success]
    - if flash[:notice]
      .alert.fade.in.alert-success
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:notice]
    - if flash[:info]
      .alert.fade.in.alert-info
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:info]
    - if flash[:warn]
      .alert.fade.in
        %button.close{data: {dismiss: "alert"}} &times;
        = flash[:warn]
    :javascript
      $(function() {
        $('.alert').alert()
        setTimeout(function() {
          $('.alert').alert('close')
        }, 5000)
      })

