.navbar-wrapper
  .container
    /[if lt IE 7]
      .alert.alert-block!=t :outdated
    .navbar.navbar-inverse
      .navbar-inner
        -# Button for triggering responsive navbar
        %a.btn.btn-navbar.pull-left{"data-target" => ".main-tabs", "data-toggle" => "collapse"}
          %i.icon-reorder
        -# Brand name
        -# TODO add logo
        %a.brand{:href => url_for(root_path)}
          =t 'title'
        -# Login/Logout menus
        %ul.nav.pull-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle.navbar-link{"data-toggle" => "dropdown", :href => "#"}
                = current_user.name
              %ul.dropdown-menu
                %li
                  %a.navbar-link{:href => "#"}
                    =t :curriculum
                %li
                  %a.navbar-link{:href => "#"}
                    =t :tips
                %li
                  %a.navbar-link{:href => "#"}
                    =t :feedback
                %li
                  %a.navbar-link{:href => url_for(destroy_user_session_path), :data => {:method => :delete}}
                    =t :logout
                    %i.icon-signout
          - else
            %li
              %a.navbar-link{:href => url_for(new_user_session_path)}
                %i.icon-signin
                =t :login
        -# Place all navbar contents you want collapsed withing .navbar-collapse.collapse
        .nav-collapse.collapse.main-tabs
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t :title, :scope => :more_about
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t :mission, :scope => :more_about
                %li
                  %a{:href => "#"}=t :values, :scope => :more_about
                %li
                  %a{:href => "#"}=t :members, :scope => :more_about
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t :title, :scope => :the_event
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t :what_is, :scope => :the_event
                %li.dropdown-submenu
                  %a{:href => "#"}=t :integration2013, :scope => :the_event
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"}=t :schedule, :scope => :the_event
                    %li
                      %a{:href => "#"}=t :participants, :scope => :the_event
                    %li
                      %a{:href => "#"}=t :honor_guests, :scope => :the_event
                %li
                  %a{:href => "#"}=t :previous, :scope => :the_event
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t :title, :scope => :company
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t :all_participants, :scope => :company
                %li
                  %a{:href => "#"}=t :why_participate, :scope => :company
                %li
                  %a{:href => "#"}=t :participate, :scope => :company
            %li
              %a{:href => "#"}=t :media
            %li
              %a{:href => "#"}=t :contact
    -# Flash alerts bellow the menu but still inside the container
    - if flash[:error]
      .alert.alert-error
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:error]
    - if flash[:alert]
      .alert.alert-error
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:alert]
    - if flash[:success]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:success]
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:notice]
    - if flash[:info]
      .alert.alert-info
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:info]
    - if flash[:warn]
      .alert
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:warn]

