.navbar-wrapper
  .container
    = render "shared/old_browser"
    .navbar.navbar-inverse
      .navbar-inner
        -# Button for triggering responsive navbar
        %a.btn.btn-navbar.pull-left{"data-target" => ".main-tabs", "data-toggle" => "collapse"}
          %i.icon-reorder
        -# Brand name
        -# TODO add logo
        %a.brand{:href => url_for(root_path)}
          =t "title"
        -# Login/Logout menus
        %ul.nav.pull-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.name
                %i.icon-angle-down
              %ul.dropdown-menu
                %li
                  %a.navbar-link{:href => "#"}
                    =t ".curriculum"
                %li
                  %a.navbar-link{:href => "#"}
                    =t ".tips"
                %li
                  %a.navbar-link{:href => "#"}
                    =t ".feedback"
                %li.divider
                %li
                  %a.navbar-link{:href => url_for(destroy_user_session_path), :data => {:method => :delete}}
                    =t ".logout"
                    %i.icon-signout
          - else
            %li
              -# %a.navbar-link{:href => url_for(new_user_session_path)}
              %a.navbar-link{:href => "#loginModal", :role => :button, "data-toggle" => :modal}
                %i.icon-signin
                =t ".login"
        -# Place all navbar contents you want collapsed withing .navbar-collapse.collapse
        .nav-collapse.collapse.main-tabs
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t ".more_about"
                %i.icon-angle-down
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t ".mission"
                %li
                  %a{:href => "#"}=t ".values"
                %li
                  %a{:href => "#"}=t ".members"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t ".the_event"
                %i.icon-angle-down
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t ".what_is"
                %li.dropdown-submenu
                  %a{:href => "#"}=t ".integration2013"
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"}=t ".schedule"
                    %li
                      %a{:href => "#"}=t ".participants"
                    %li
                      %a{:href => "#"}=t ".honor_guests"
                %li
                  %a{:href => "#"}=t ".previous"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                =t ".company"
                %i.icon-angle-down
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}=t ".all_participants"
                %li
                  %a{:href => "#"}=t ".why_participate"
                %li
                  %a{:href => "#"}=t ".participate"
            %li
              %a{:href => "#"}=t ".media"
            %li
              %a{:href => "#"}=t ".contact"
    -# Flash alerts bellow the menu but still inside the container
    - if flash[:error]
      .alert.alert-error
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:error]
    - if flash[:alert]
      .alert.alert-error
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:alert]
    - if flash[:success]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:success]
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:notice]
    - if flash[:info]
      .alert.alert-info
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:info]
    - if flash[:warn]
      .alert
        %button.close{"data-dismiss" => "alert"} &times;
        = flash[:warn]

