- content_for :title do
  = @menu.title

- content_for :extra_styles do
  = stylesheet_link_tag "classic/galleria.classic", media: "all"

- if @page.gallery?
  - content_for :after_menu do
    .push-down
    #galleria
      - @page.gallery.medias.each do |m|
        - case m
        - when Image
          %a{href: m.image.url}
            %img{src: m.image.thumb.url, data: {title: m.title, description: m.description}}
        - when Video
          %a{href: m.video}
            .video= m.title
    :javascript
      $(function(){
        Galleria.loadTheme("#{asset_path("classic/galleria.classic.js")}");
        Galleria.run("#galleria", {_toggleInfo: false});
      })

.row-fluid
  .span3
    .sidebar-nav.well
      - if @menu.user_page?
        = render 'users/menu'
      - else
        %ul.nav.nav-list
          - if @menu.parent.active?
            %li.nav-header= @menu.parent.title
          - @menu.parent.active_children.each do |m|
            - if m.active_children.empty?
              %li{class: m.slug == @menu.slug ? "active" : nil}
                %a{href: url_for_page(m)}= m.title
            - elsif not m.active_children.empty?
              %li.muted
                = m.title
                %ul.nav.nav-list
                  - m.active_children.each do |m|
                    - if m.active_children.empty?
                      %li
                        %a{href: url_for_page(m)}= m.title
                    - else
                      %li.muted
                        = m.title
  .span9
    - if @page.show_companies?
      .row-fluid
        %ul.thumbnails
          - @companies.each do |c|
            %li.span4
              %a.thumbnail{href: c.site || '#'}
                = image_tag(c.logo.url) unless c.logo.url.nil?
                %p= c.headline
    - if @page.show_members?
      .row-fluid
        %ul.thumbnails
          - @members.each do |m|
            %li.span4
              .thumbnail
                = image_tag(m.resume.image.url) if m.resume? and not m.resume.image.url.nil?
                %p= m.name
    != @page.content
