- content_for :title do
  = @menu.title

- content_for :extra_styles do
  = stylesheet_link_tag "classic/galleria.classic", media: "all"

- if @page.gallery?
  - content_for :after_menu do
    .push-down
    #galleria
      - @page.gallery.medias.each do |m|
        - case m
        - when Image
          %a{href: m.image.url}
            %img{src: m.image.thumb.url, data: {title: m.title, description: m.description}}
        - when Video
          %a{href: m.video}
            .video= m.title
    :javascript
      $(function(){
        Galleria.loadTheme("#{asset_path("classic/galleria.classic.js")}");
        Galleria.run("#galleria");
      })

.row-fluid
  .span3
    .sidebar-nav.well
      %ul.nav.nav-list
        - if @menu.parent.active?
          %li.nav-header= @menu.parent.title
        - @menu.parent.active_children.each do |m|
          - if m.active_children.empty?
            %li{class: m.slug == @menu.slug ? "active" : nil}
              %a{href: url_for_page(m)}= m.title
          - else
            %li.dropdown
  .span9
    != @page.content
