- content_for :title do
  = @menu.title

- content_for :extra_styles do
  = stylesheet_link_tag "classic/galleria.classic", media: "all"

- if @page.gallery?
  - content_for :after_menu do
    .push-down
    #galleria
      - @page.gallery.medias.each do |m|
        - case m
        - when Image
          %a{href: m.image.full.url}
            %img{src: m.image.thumb.url, data: {title: m.title, description: m.description}}
        - when Video
          %a{href: m.video}
            .video= m.title
    :javascript
      $(function(){
        Galleria.loadTheme("#{asset_path("classic/galleria.classic.js")}");
        Galleria.run("#galleria", {_toggleInfo: false});
      })

.page.row-fluid
  .span3
    .sidebar-nav.well
      - if @menu.user_page?
        = render 'users/menu'
      - else
        %ul.nav.nav-list
          - if @parent_menu.active?
            %li.nav-header= @menu.parent.title
          - @parent_menu.active_children.each do |m|
            - if m.active_children.empty?
              %li{class: m.slug == @menu.slug ? "active" : nil}
                %a{href: url_for_page(m)}= m.title
            - elsif not m.active_children.empty?
              %li.muted
                = m.title
                %ul.nav.nav-list
                  - m.active_children.each do |m|
                    - if m.active_children.empty?
                      %li
                        %a{href: url_for_page(m)}= m.title
                    - else
                      %li.muted
                        = m.title
  .span9
    - unless @companies.nil?
      - @companies.each_slice(3) do |cc|
        .row-fluid.thumbnails
          - cc.each do |c|
            .span4
              %a.thumbnail{href: c.site || '#'}
                = image_tag(c.logo.thumb.url) unless c.logo.url.nil?
                - unless c.headline.nil?
                  %p.lead= c.headline
    - unless @members.nil?
      - @members.each_slice(3) do |mm|
        .row-fluid.thumbnails
          - mm.each do |m|
            .span4
              .thumbnail
                = image_tag(m.resume.image.thumb.url) if m.resume? and not m.resume.image.url.nil?
                %p.lead= m.name
    != @page.content
