%hr

= nested_form_for @resume, url: @url, html: {class: "form-horizontal", multipart: true} do |f|

  %p=t ".image_help"
  .control-group
    = f.label :image, class: "control-label"
    .controls
      = f.file_field :image

  %h3.text-center=t ".professional_experiences"
  %p!=t ".professional_experiences_desc"
  .row-fluid
    = f.fields_for :professional_experiences do |f|
      .span6
        .control-group
          = f.label :company, class: "control-label"
          .controls
            = f.text_field :company
        .control-group
          = f.label :position, class: "control-label"
          .controls
            = f.text_field :position
        .control-group
          = f.label :from, class: "control-label"
          .controls
            = f.text_field :from
        .control-group
          = f.label :to, class: "control-label"
          .controls
            = f.text_field :to
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :professional_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".voluntary_experiences"
  %p!=t ".voluntary_experiences_desc"
  .row-fluid
    = f.fields_for :voluntary_experiences do |f|
      .span6
        .control-group
          = f.label :initiative, class: "control-label"
          .controls
            = f.text_field :initiative
        .control-group
          = f.label :position, class: "control-label"
          .controls
            = f.text_field :position
        .control-group
          = f.label :from, class: "control-label"
          .controls
            = f.text_field :from
        .control-group
          = f.label :to, class: "control-label"
          .controls
            = f.text_field :to
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :voluntary_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".language_experiences"
  %p!=t ".language_experiences_desc"
  .row-fluid
    = f.fields_for :language_experiences do |f|
      .span6
        .control-group
          = f.label :language, class: "control-label"
          .controls
            = f.text_field :language
        .control-group
          = f.label :level, class: "control-label"
          .controls
            = f.text_field :level
        .control-group
          = f.label :certificates, class: "control-label"
          .controls
            = f.text_field :certificates
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :language_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".project_experiences"
  %p!=t ".project_experiences_desc"
  .row-fluid
    = f.fields_for :project_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :from, class: "control-label"
          .controls
            = f.text_field :from
        .control-group
          = f.label :to, class: "control-label"
          .controls
            = f.text_field :to
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :project_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".notable_experiences"
  %p!=t ".notable_experiences_desc"
  .row-fluid
    = f.fields_for :notable_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :date, class: "control-label"
          .controls
            = f.text_field :date
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :notable_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".publication_experiences"
  %p!=t ".publication_experiences_desc"
  .row-fluid
    = f.fields_for :publication_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :date, class: "control-label"
          .controls
            = f.text_field :date
        .control-group
          = f.label :topic, class: "control-label"
          .controls
            = f.text_field :topic
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :publication_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".course_experiences"
  %p!=t ".course_experiences_desc"
  .row-fluid
    = f.fields_for :course_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :date, class: "control-label"
          .controls
            = f.text_field :date
        .control-group
          = f.label :institution, class: "control-label"
          .controls
            = f.text_field :institution
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :course_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".initiative_experiences"
  %p!=t ".initiative_experiences_desc"
  .row-fluid
    = f.fields_for :initiative_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :from, class: "control-label"
          .controls
            = f.text_field :from
        .control-group
          = f.label :to, class: "control-label"
          .controls
            = f.text_field :to
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :initiative_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".discipline_experiences"
  %p!=t ".discipline_experiences_desc"
  .row-fluid
    = f.fields_for :discipline_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :date, class: "control-label"
          .controls
            = f.text_field :date
        .control-group
          = f.label :description, class: "control-label"
          .controls
            = f.text_area :description, rows: 4
        .control-group
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :discipline_experiences, class: "btn btn-success controls"
  %hr

  %h3.text-center=t ".reference_experiences"
  %p!=t ".reference_experiences_desc"
  .row-fluid
    = f.fields_for :reference_experiences do |f|
      .span6
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :contact, class: "control-label"
          .controls
            = f.text_field :contact
        .control-group
          = f.label :file, class: "control-label"
          .controls
            = f.file_field :file
          .controls
            = f.link_to_remove t(".remove"), class: "btn btn-danger"
    = f.link_to_add t(".add"), :reference_experiences, class: "btn btn-success controls"
  %hr

  .control-group
    .controls
      = f.submit t(".submit"), class: "btn btn-primary"
