!!!
%html.no-js{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "author",      content: "Jan Segre"}
    %meta{name: "description", content: t(:desc)}
    %meta{name: "viewport",    content: "width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    %title<
      - if content_for? :title
        #{yield(:title).gsub(/\n/,"")} - #{t :title}
      - else
        = t :title
    -# IE requires the "shortcut" keyword
    %link{rel: "shortcut icon",    href: asset_path("favicon.ico")}
    %link{rel: "apple-touch-icon", href: asset_path("icon57.png")}
    %link{rel: "apple-touch-icon", href: asset_path("icon72.png"),  sizes: "72x72"}
    %link{rel: "apple-touch-icon", href: asset_path("icon114.png"), sizes: "114x114"}
    %link{rel: "apple-touch-icon", href: asset_path("icon144.png"), sizes: "144x144"}
    = stylesheet_link_tag "application", media: "all"
    /[if IE 7]
      = stylesheet_link_tag "_font-awesome-ie7.min", media: "all"
    /[if lt IE 9]
      -# Respond.js has to be loaded asap to minimize glitches
      = javascript_include_tag "respond"
    -# modernizr has to be loaded asap to fix html5 tags on IE7/8
    = javascript_include_tag "modernizr"

    -# used to load at the end, but it makes it impossible for inline
    -# javascripts to use jquery or any other library
    = javascript_include_tag "application"

  %body
    - unless user_signed_in?
      = render "shared/login"
    = render "shared/menu"
    - if content_for? :after_menu
      = yield :after_menu
    - else
      .push-down

    .container.container-fluid.main
      -# main content will come here
      = yield

    = render "shared/footer"

    -# load Google Analytics when in production
    - if Rails.env.production?
      :javascript
        var _gaq=[['_setAccount','#{Rails.application.config.ga_tracking_id}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

