!!!
%html.no-js{ :lang => I18n.locale }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Jan Segre", :name => "author"}
    %meta{:content => t(:desc), :name => "description"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
    %title>
      - if content_for? :title
        #{t :title} - #{yield :title}
      - else
        = t :title
    = stylesheet_link_tag "application", :media => "all"
    /[if IE 7]
      = stylesheet_link_tag "_font-awesome-ie7.min", :media => "all"
    /[if lt IE 9]
      -# Respond.js has to be loaded asap to minimize glitches
      = javascript_include_tag "respond"
    -# modernizr has to be loaded asap to fix html5 tags on IE7/8
    = javascript_include_tag "modernizr"

  %body
    - unless user_signed_in?
      = render "shared/login"
    = render "shared/menu"
    - if content_for? :after_menu
      = yield :after_menu
    - else
      .push-down

    .container.container-fluid.marketing
      -# main content will come here
      = yield

    .container.container-fluid
      = render "shared/footer"

    -# start loading the scripts after the dom is loaded
    = javascript_include_tag "application"

    -# load Google Analytics when in production
    - if Rails.env.production?
      :javascript
        var _gaq=[['_setAccount','#{Rails.application.config.ga_account}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

